a{text-decoration: none;}
a:link{color:#1ec503;}
a:active{color:#1ec503;}
a:hover{color:#1ec503;}
a:visited{color:#1ec503;}


#content{
padding: 10px;
margin:2%
float:left;
width:70%;
}

body{
background-color:black;
color:#1ec503;
font-family:courier new;
}
